.App {
  text-align: center;
}

input {
  margin: 10px;
  height: 40px;
  padding: 4px 20px;
  border: 1px solid rgb(204, 198, 198);
  border-radius: 4px;
  font-size: 18px;
}

input[type="checkbox"] {
  padding: 0;
  margin: 0;
}

table {
  border-spacing: 0;
  margin: auto;
}

td,th {
 padding: 8px;
 border: 1px solid rgb(179, 179, 179);
 overflow-x: scroll;
}
th {
  background-color: rgb(226, 226, 226);
}

tr:nth-child(odd) {
  background-color: rgb(226, 226, 226);
}

.error-text {
  color: red;
}

.checkbox-container {
  display:flex;
  gap:40px;
  justify-content:start;
  align-items:center;
  padding-left:10px
}

.homepage-container {
  display:flex;
  margin:auto;
  max-width:700px;
  flex-direction:column;
}

.url-list--info{
  display:flex;
  align-items:center;
  justify-content:space-around;
  margin:auto;
}